/* start responsive */


/* 💻 Desktop */
@media screen and (max-width: 1140px) {
    
    .header-left-items>a>img {
        width: 70px;
        height: 53px;
    }
    
    .text-description-home>h3 {
        font-size: 2rem;
    }
    
    .stats-item{
        padding-left: 10px;
    }

    .container-skills{
        gap: 30px;
    }
    
}

/* 📲 Tablet */
@media screen and (max-width: 1023px) {
    

}

/* 📱 Mobile */
@media screen and (max-width: 767px) {
    
}
