*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------*/
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    text-align: center;
}

.title>h2 {
    color: var(--special-color);
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

html {
    scroll-behavior: smooth;
}

/*-------------------------------*/
:root {
    --background: #0F1115;
    --font-color: #E2E8F0;
    --font-color-2: #AEB4BC;
    --special-color: #5f9ea0;
    --special-color-2: #1F2937;
}

/* wallpaper */
body {
    min-height: 100dvh;
    background-color: var(--background);
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */

.container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*----------header----------*/
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(31, 41, 55, 0.45);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-bottom: 1px solid rgba(95, 158, 160, 0.15);
    z-index: 1000;
    top: 0;
    position: sticky;
    border-bottom: .1px solid rgba(128, 128, 128, 0.141);
}

/* navbar */
nav {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 0.5px solid cadetblue; */

}

#container-header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


/* header items */
/* header left items */
.header-left-items {
    width: calc((100% / 3) - 4%);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left-items>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-left-items>a>img {
    width: 90px;
    height: 73px;
}

/* header center items */
.header-center-items {
    width: calc((100% / 3) + 8%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header-center-items>li {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-center-items>li>a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--font-color);
}

/* header center items 2 */
.header-center-items-2 {
    width: calc((100% / 3) - 4%);
    height: 100%;
    display: none;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

.header-center-items-2>li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center-items-2>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-center-items-2>li>a>i {
    font-size: 1.5rem;
    color: var(--special-color);

}

.menu-site {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    top: 71px;
    left: 0;
    background-color: rgba(15, 17, 21, 0.998);
    transition: all .5s ease-in-out;
}

.header-center-items-2>li:hover .menu-site {
    visibility: visible;
    opacity: 1;
}

/* header right items */
.header-right-items {
    width: calc((100% / 3) - 4%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-right-items>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    height: 38px;
    color: var(--font-color);
    border: none;   
    border: 1px solid #0f111572;
    border-radius: 33px;
    background-color: #1F2937;
}

.header-right-items>ul>li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 3px;
 
}

.header-right-items>ul>li>button {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.025);
    color: var(--font-color-2);
    border-radius: 33px;
    font-size: .9rem;
    border: none;
    cursor: pointer;
}

.header-right-items>ul>li>button:hover {
    transition: .3s all ease-in-out;
    transform: scale(1.02);
}

.header-right-items>ul>li>button:nth-of-type(1) {
    background-color: cadetblue;
    color: var(--font-color);
}


/* ------------main------------- */
main {
    width: 85%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 170px;
    padding-bottom: 100px;
}

/* --------------home page------------- */
#home-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description-home {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 40px;
    margin-bottom: 10px;
}

/* text descripttion */
.text-description-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
    line-height: 30px;
}

.text-description-home>* {
    color: var(--font-color);
}

.text-description-home>h1 {
    font-size: 1.4rem;
}

.text-description-home>h3 {
    font-size: 2.375rem;
    line-height: 50px;
    color: var(--special-color);
}

.text-description-home>p {
    font-weight: 500;
}

/* link descripttion in home */
.links-description-home {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    margin-top: 10px;
}

.links-description-home>a>i {
    font-size: 1.7rem;
    color: var(--font-color-2);
}

/* stats */
.stats {
    width: 80%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-color-2);
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}

.stats-item {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    position: relative;
    padding-left: 20px;
}

.stats-item:nth-of-type(1):after {
    content: "";
    background-color: gray;
    width: 1px;
    height: 55px;
    position: absolute;
    right: 0;
}

.stats-item:nth-of-type(2):after {
    content: "";
    background-color: gray;
    width: 1px;
    height: 55px;
    position: absolute;
    right: 0;
}

/* top stats item */
.stats-item-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.stats-item-top>p {
    color: var(--special-color);
    font-weight: 800;
}

/* down stats item */
.stats-item-down {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.stats-item-down>p {
    font-size: .9rem;
    color: var(--font-color);
}

/* image me */
.image-me-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: auto;
    margin-top: 80px;
    opacity: .9;
}

.image-me-home::before {
    content: "";
    position: absolute;
    background-color: rgba(95, 158, 160, 0.64);
    width: 80%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--special-color-2);
    z-index: -1;
    filter: blur(120px);
    opacity: .5;

}

.image-me-home>img {
    width: 80%;
    height: 80%;
}

/* ---------about-page------------ */
#about-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* top and down about page */
.top-about-page {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-about-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about page description */
.description-about-page {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 30px;
}

/* image about */
.image-about {
    width: 100%;
    height: 100%;
    display: flex;
    grid-column: 1 span;
    align-items: center;
    justify-content: center;
}

.image-about>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
}

.image-about>a>img {
    width: 330px;
    height: 330px;

}

/* about me text */
.about-me {
    padding-top: 100px;
    width: 100%;
    height: max-content;
    grid-column: 1 span;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-me>p {
    width: 100%;
    font-size: 1rem;
    color: var(--font-color-2);
    line-height: 28px;
}

.about-me>p>span {
    color: var(--special-color);
    font-size: 1.2rem;
}

/* skills me */
.container-skills {
    width: 70%;
    height: 100%;
    grid-column: 2 span;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    justify-self: center;
    gap: 25px;
    padding: 20px;
}

.container-skills>.title>h2 {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px;
    color: var(--special-color);
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.skills {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-icon {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.skills:nth-of-type(2)>.skill-icon>i {
    color: #E34F26;
    font-size: 1.5rem;
}

.skills:nth-of-type(3)>.skill-icon>i {
    color: #1572B6;
    font-size: 1.5rem;
}

.skills:nth-of-type(4)>.skill-icon>i {
    color: #F7DF1E;
    font-size: 1.5rem;
}

.skills:nth-of-type(5)>.skill-icon>i {
    color: #F05032;
    font-size: 1.5rem;
}

.skills:nth-of-type(6)>.skill-icon>i {
    color: #FFFFFF;
    font-size: 1.5rem;
}


.skill-icon>p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color-2);
}

.percent-skill {
    width: 70%;
    height: 9px;
    background-color: var(--special-color-2);
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;

}

.percent-skill>p {
    font-size: .95rem;
    font-weight: 300;
    color: var(--font-color);
    z-index: 10;
    padding-right: 30px;
}

.percent-skill::before {
    content: "75%";
    font-size: .8rem;
    font-weight: 300;
    color: var(--font-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
    border-radius: 10px;
    right: -40px;
    z-index: 10;
    background-color: var(--special-color-2);

}

.container-skills>:nth-child(2)>.percent-skill::before {
    content: "90%";
}

.container-skills>:nth-child(3)>.percent-skill::before {
    content: "80%";
}

.container-skills>:nth-child(4)>.percent-skill::before {
    content: "10%";
}

.container-skills>:nth-child(5)>.percent-skill::before {
    content: "100%";
}

.container-skills>:nth-child(6)>.percent-skill::before {
    content: "90%";
}


.container-skills>.skills>.percent-skill::after {
    content: "";
    position: absolute;
    height: 100%;
    background-color: var(--special-color);
    border-radius: 20px;
}

.container-skills>:nth-child(2)>.percent-skill::after {
    width: 90%;
}

.container-skills>:nth-child(3)>.percent-skill::after {
    width: 80%;
}

.container-skills>:nth-child(4)>.percent-skill::after {
    width: 10%;
}

.container-skills>:nth-child(5)>.percent-skill::after {
    width: 100%;
}

.container-skills>:nth-child(6)>.percent-skill::after {
    width: 90%;
}


/* --------services-page----------- */
#services-page {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

/* services box and items */
.services-box {
    width: 100%;
    height: max-content;
    padding: 10px;
    gap: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    justify-content: center;

}

.services-box-item {
    background-color: var(--special-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 17px;
    padding: 35px;
    gap: 10px;
}

.s-b-item-top {
    width: 100%;
    height: 50%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}

.s-b-item-top>i {
    font-size: 1.8rem;
    color: var(--font-color);
}

.s-b-item-top>h3 {
    color: var(--special-color);
}

.s-b-item-down {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

.s-b-item-down>p {
    font-size: 1rem;
    color: var(--font-color-2);
}

/* --------------project page------------------- */
#project-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* filter projects */
.container-filter-project {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-project {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filter-project>li {
    width: max-content;
    height: 30px;
    background-color: var(--special-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.filter-project>li:nth-of-type(1) {
    background-color: var(--special-color);
}

.filter-project>li>a {
    font-size: .9rem;
    color: var(--font-color);
}

/* projects */
.projects {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

/* project items */
.item-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 10px;
}

.top-item-project {
    width: 100%;
    height: 85%;
    border-radius: 15px;
    overflow: hidden;
}

.top-item-project>img {
    width: 100%;
    height: 100%;
}

/* down-item-project */
.down-item-project {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-inline-start: 8px;
    gap: 4px;
}

.down-item-project>p:nth-of-type(1) {
    font-size: 1.2rem;
    color: var(--special-color);
}

.down-item-project>p:nth-of-type(2) {
    font-size: .9rem;
    color: var(--font-color-2);
}



/* -------------contact page----------------- */

#contact-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}


.contact-box {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    justify-content: center;
    gap: 20px;
}

.contact-inputs {
    width: 100%;
    height: 100%;
    background-color: var(--special-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    padding-inline-start: 10px;
    color: var(--special-color);
    border-radius: 4px;
}

.contact-inputs::placeholder {
    color: var(--font-color-2);
}

/* full name box */
.full-name-box {
    width: 100%;
    height: 40px;
    grid-column: 1 span;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
}

/* email address box */
.email-address-box {
    width: 100%;
    height: 40px;
    grid-column: 1 span;
    border-radius: 4px;
    overflow: hidden;
}


/* message box */
.user-message-box {
    width: 100%;
    min-height: 80px;
    grid-column: 2 span;
    border-radius: 4px;
    overflow: hidden;
    resize: vertical;
}

.textarea {
    width: 100%;
    height: 100%;
    background-color: var(--special-color-2);
    border: none;
    outline: none;
    border-radius: 4px;
    padding-inline-start: 10px;
    padding-top: 5px;
    color: var(--special-color);
}

.textarea::placeholder {
    color: var(--font-color-2);
    font-family: 'Nunito', sans-serif;
}

/* submit button */
.submit-button {
    min-width: 200px;
    height: 40px;
    border-radius: 7px;
    overflow: hidden;
}

.submit-button>button {
    width: 100%;
    height: 100%;
    background-color: var(--special-color);
    border: none;
    color: var(--font-color);
}

.submit-button>button>i {
    color: var(--font-color-2);
    font-size: .9rem;
    margin-left: 5px;
}