*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------*/
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.title>h2{
    color: var(--special-color);
}
.title>p{
    
    font-size: 1rem;
    color: var(--font-color);
}
/*-------------------------------*/
:root {
    --font-color: #E2E8F0;
    --font-color-2: #AEB4BC;
    --special-color: cadetblue;
    --special-color-2: #1F2937;
}

/* wallpaper */
body {
    min-height: 100dvh;
    background-image: url('../../assets/photo/wallpaper-2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    font-family: 'Nunito', sans-serif;
    z-index: -11;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */

.container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(16, 21, 21, 0.95);
    z-index: -10;
}

/*----------header----------*/
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-color-2);
    z-index: 10;
}

/* navbar */
nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 0.5px solid cadetblue; */

}

#container-header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


/* header items */
/* header left items */
.header-left-items{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.header-left-items>p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--special-color);
}

/* header center items */
.header-center-items{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-center-items>li{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}

/* header right items */
.header-right-items{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-right-items>ul{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 65%;
    height: 35px;
    font-size: .9rem;
    color: var(--font-color);
    border: none;
    border-radius: 4px;
    background-color: var(--special-color);
}
.header-right-items>ul>li>a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--font-color);
}
.header-center-items>li>a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--font-color);
}
.header-right-items>ul>li>a>i{
    font-size: .9rem;
}
.header-right-items>ul>li{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-right-items>ul>li:hover .language{
    display: flex;
}
.language{
    position: absolute;
    border: none;
    right: auto;
    top: 36px;
    border-radius: 5px;
    width: 140px;
    height: 80px;
    gap: 4px;
    padding: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--special-color);
    z-index: 11;
}
.language>li{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    background-color: var(--special-color);
}
.language>li:hover{
    background-color: rgb(79, 130, 132);
    transform: scale(1.04 , 1.04);
}
.language>li:nth-of-type(2){
    background-color: var(--special-color-2);
}

.language>li>a{
    color: var(--font-color);
    font-size: .9rem;
    font-family: vazir;
}

/* ------------main------------- */
main {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 120px;
    padding-bottom: 100px;
}

/* --------------home page------------- */
#home-page {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description-home {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}

/* text descripttion */
.text-description-home {
    width: 80%;
}

.text-description-home>* {
    color: var(--font-color);
}

.text-description-home>h1 {
    font-size: 2.375rem;
    color: var(--special-color);
}

.text-description-home>h3>span {
    color: var(--special-color);
    font-size: 1.4375rem;
}

.text-description-home>p {
    line-height: 25px;
    font-weight: 500;
}

/* link descripttion in home */
.links-description-home {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.links-description-home>a>i {
    font-size: 1.7rem;
    color: var(--special-color);
}

/* stats */
.stats{
    width: 80%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-color-2);
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}
.stats-item{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    position: relative;
}
.stats-item:nth-of-type(1):after{
    content: "";
    background-color: gray;
    width: 1.3px;
    height:55px;
    position: absolute;
    right: 0;
}
.stats-item:nth-of-type(2):after{
    content: "";
    background-color: gray;
    width: 1px;
    height:55px;
    position: absolute;
    right: 0;
}
/* top stats item */
.stats-item-top{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
.stats-item-top>p{
    color: var(--special-color);
    font-weight: 800;
}
/* down stats item */
.stats-item-down{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}
.stats-item-down>p{
    color: var(--font-color);
}

/* image me */
.image-me-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: auto;
    margin-top: 80px;
    opacity: .9;
}

.image-me-home::before {
    content: "";
    position: absolute;
    background-color: rgba(95, 158, 160, 0.64);
    width: 80%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--special-color-2);
    z-index: -1;

}
.image-me-home>a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-me-home>a>img {
    width: 80%;
    height: 80%;
    margin-right: 8px;
}
/* --------services-page----------- */
#services-page{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

/* services box and items */
.services-box{
    width: 100%;
    height: max-content;
    padding: 10px;
    gap: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(240px , 1fr));
    grid-template-rows: repeat(2 , minmax(240px , 1fr));
}

.services-box-item{
    background-color: var(--special-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 17px;
    padding: 35px;
    gap: 10px;
}
.s-b-item-top{
    width: 100%;
    height: 50%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
}
.s-b-item-top>i{
    font-size: 1.8rem;
    color: var(--font-color);
}
.s-b-item-top>h3{
    color: var(--special-color);
}

.s-b-item-down{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}
.s-b-item-down>p{
    font-size: 1rem;
    color: var(--font-color-2);
}



/* ---------about-page------------ */
#about-page {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* top and down about page */
.top-about-page{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down-about-page{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* about page description */
.description-about-page{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* image about */
.image-about{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-about>a{
    width: 85%;
    height: 100%;
}
.image-about>a>img{
    width: 100%;
    height: 100%;
}

/* about me text */
.about-me-text{
    width: 50%;
    padding-top: 66px;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.about-me-text>p{
    width: 85%;
    font-size: .95rem;
    color: var(--font-color-2);
    line-height: 28px;
}

/* skills me */
.container-skills{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.skills-me{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
/* top skill */
.top-skill{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-color-2);
    padding: 15px;
    border-radius: 50%;
}
.top-skill>i{
    color: var(--font-color);
    font-size: 1.7rem;
}
.skills-me:nth-of-type(1)>.top-skill>i{
    color: #E34F26;
}
.skills-me:nth-of-type(2)>.top-skill>i{
    color: #1572B6;
}
.skills-me:nth-of-type(3)>.top-skill>i{
    color: #F7DF1E;
}
.skills-me:nth-of-type(4)>.top-skill>i{
    color: #F05032;
}
.skills-me:nth-of-type(5)>.top-skill>i{
    color: #FFFFFF;
}

/* down skill */
.down-skill{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.down-skill>p{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--font-color-2);
}